* {
    padding: 0;
    margin: 0;
}

.container{
    background-color: lightsteelblue;
    padding: 10px;
    height: 600px;
    width: 600px;
    border: 5px solid darkblue;
    margin:auto;
    margin-top: 30px;
}

.header{
    align-content: center;
}

input{
    background-color: whitesmoke;
    float: left;
    width: 350px;
    line-height: 2;
    margin-top: 15px;
    font-weight: bolder;
}

button{
    background-color: lightcyan;
    margin-top: 12px;
    font-weight: bolder;
    height: 30px;
    width: 100px;
    box-shadow: 2px 2px 0.3px 0.9px darkblue;
}

.list{
    align-content: center;
}